.spinner {
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-top: -7.5px;
    margin-left: -7.5px;
    border-radius: 50%;
    border: 1px solid white;
    border-top-color: transparent;
    animation: spinner 0.6s linear infinite;
  }
}

.button {
  width: 100%;
  padding: 15px;
  font-size: 1.6rem;
  border: none;
  border-radius: $radius;
  background-color: $bgPrimary;
  color: white;
  appearance: none;
  transition: all 300ms;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: translateY(-1px);
  }

  &--sm {
    font-size: 1.4rem;
    padding: 12px 20px;
    display: inline-block;
    width: auto;
    // min-width: 150px;
  }

  &--block {
    display: block;
  }

  &--success {
    background-color: $bgSuccess;
    box-shadow: inset 0 0 0 1px $bdSuccess;
    color: $textSuccess;
  }

  &--danger {
    background-color: $bgDanger;
    box-shadow: inset 0 0 0 1px $bdDanger;
    color: $textDanger;
  }

  &--info {
    background-color: $bgInfo;
    box-shadow: inset 0 0 0 1px $bdInfo;
    color: $textInfo;
  }

  &--muted {
    color: $textSecondary;
    padding: 12px 20px;
    border: none;
    display: inline-block;
    width: auto;
    background-color: transparent;
    transition: all 300ms;
    border: 1px solid $bdMuted;

    .icon {
      display: inline-block;
      margin-right: 12px;
      margin-left: -6px;
      font-weight: bold;
    }

    &:hover {
      transform: translateY(0);
      color: $textInfo;
    }
  }

  &--action {
    color: $textMuted;
    display: inline-block;
    width: auto;
    background-color: transparent;
    font-size: 1.4rem;
  }
}
