.sidebar {
  width: 250px;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
  box-shadow: 0 2px 15px 0 rgba(9, 165, 219, 0.005);
  z-index: 999;
  position: relative;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;

  &__header {
    width: 100%;
    padding: 25px 30px;
    box-shadow: 0 2px 10px 0 rgba(9, 165, 219, 0.08);
    // border-bottom: 1px solid $bdInfoLight;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 24px;
    margin-right: 16px;
    width: auto;
    object-fit: contain;
    object-position: left;
  }

  &__nav {
    margin-top: 30px;
  }

  &__nav-item {
    width: 100%;
    padding: 30px;
    color: $textSecondary;
    transition: all 200ms;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width: 80%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: $bdInfoLight;
    }
    &:before {
      width: 1px;
      height: 100%;
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      transition: all 300ms ease-in-out;
      background-color: $bgPrimary;
    }
    &:hover {
      color: $textPrimary;
    }
    &.active {
      color: $textPrimary;
      font-weight: bold;
      &:before {
        transform: scaleX(9);
        opacity: 1;
      }
    }
    &.docked {
      background-color: $bgMuted;
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
      &:before {
        display: none;
      }
    }
  }
}

.profile {
  padding: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
  position: relative;

  &__name {
    display: inline-block;
    margin-left: 15px;
    color: $textMuted;
  }
}
