// Colors
$bg: #f0f4f6;
$bgPrimary: #3bb75e;
$bgMuted: #fcfcfc;
$bgSuccess: #f0fff4;
$bgDanger: #fce9e9;
$bgInfo: #f6fcff;
$bdMuted: #e3e3e3;
$bgRed: #ef3b24;
$bgWarning: #fff7d2;
$bdPrimary: #2c8846;
$bdSuccess: #cbf5d6;
$bdDanger: #ffd1d7;
$bdInfo: #b7e6f6;
$bdInfoLight: #dff7ff;
$bdWarning: #f4cc6a;
$textPrimary: #011b33;
$textSecondary: #7c86a2;
$textMuted: #b2b2ba;
$textInfo: #09a5db;
$textSuccess: #049720;
$textDanger: #ef3b24;
$textWarning: #cb8e01;

$radius: 5px;
