.request-list {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  &-header {
    width: 100%;
    padding: 30px;
    box-shadow: 0 2px 10px 0 rgba(9, 165, 219, 0.08);
    border-bottom: 1px solid #eee;
    height: 75px;
    flex-basis: 75px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-items {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 25px;
  }
}

.request-item {
  background: white;
  padding: 0 20px;
  &__inner {
    padding: 20px 0;
    border-bottom: 1px solid lighten($bdMuted, 6%);
    display: flex;
    align-items: flex-start;
  }
  .avatar {
    margin-right: 20px;
    flex-shrink: 0;
  }
  &:first-child {
    border-radius: $radius $radius 0 0;
  }
  &:last-child {
    border-radius: 0 0 $radius $radius;
    border-bottom: 0;
  }

  &__name {
    font-size: 1.8rem;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 1.4rem;
    color: $textSecondary;
    line-height: 1.4;
  }

  &__details {
    flex-grow: 1;
  }

  &__meta {
    text-align: right;
  }

  &__date {
    color: $textMuted;
    font-size: 1.2rem;
    text-align: right;
    min-width: 100px;
    margin-top: 6px;
  }

  &__price {
    margin-top: 6px;
    color: $textInfo;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.request {
  width: 50%;
  height: 100%;
  background-color: $bgMuted;

  &__placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
