.request-list {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 1;
  flex-basis: 50%;

  &-header {
    width: 100%;
    padding: 30px;
    box-shadow: 0 2px 10px 0 rgba(9, 165, 219, 0.08);
    height: 74px;
    flex-basis: 74px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-items {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 25px;
  }
}
